# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node/React
node_modules/
dist/
dist-ssr/
.vite/
coverage/
.eslintcache
*.local

# .NET
bin/
obj/
TestResults/

# IDE/OS
.vscode/
.vs/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.*
!.env.example
